body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fffcfa;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 20rem;
}

.container h1 {
  font-size: 2rem;
}
.content h1 {
  font-size: 4rem;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: white;
}

.logoDiv {
  margin-right: 20px;
}

.logo {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.logo h2 {
  margin: 0;
}

.principle
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navLists .navLinks1 {
  background-color: #f8e2e1;
  display: inline-block;
  margin-left: 20px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.navLists .navLinks2 {
  background-color: #312c31;
  display: inline-block;
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  border: none;
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
}

.navLists {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navLink {
  text-decoration: none;
  color: #333;
  margin-right: 20px;
}

.navLink:hover {
  box-shadow: 0 -5px 0px rgb(181, 37, 181) inset,
    500px 0 0 rgba(246, 212, 238, 0.679) inset;
  padding: 20px 25px;
}

.burgerMenuContainer {
  display: none;
}

.burgerMenu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}

.burgerMenu.active {
  display: block;
}

.burgerMenu li {
  margin-bottom: 10px;
}

.burgerMenu a {
  text-decoration: none;
  color: #333;
}

.burgerMenu a:hover {
  box-shadow: 0 -5px 0px rgb(181, 37, 181) inset,
    500px 0 0 rgba(255, 255, 255, 0.679) inset;
  padding: 5px 5px;
}

.toggleNavbar {
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  display: none;
}

.burgerBar {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }
  .toggleNavbar {
    display: block;
  }
  .burgerMenuContainer {
    display: block;
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}

.hero-image {
  width: 50%;
}

.hero-image img {
  width: 85%;
  height: auto;
  margin-left: 7.8rem;
}

.hero-image1 img {
  width: 70%;
  height: auto;
  margin-left: 5rem;
}

.hero-image1 {
  width: 50%;
}

.hero h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-left: 8rem;
}

.hero p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
  padding-left: 128px;
}

.Touchbtn {
  background-color: #784186;
  display: inline-block;
  margin-left: 8rem;
  text-decoration: none;
  color: white;
  font-size: 18px;
  border: none;
  padding: 8px 16px 8px 16px;;
  border-radius: 4px;
  cursor: pointer;
}

.discover {
  background-color: #f8e2e1;
  display: inline-block;
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  border: none;
  padding: 8px 16px 8px 16px;;
  border-radius: 4px;
  cursor: pointer;
}

.impact {
  padding: 80px 0;
  background-color: #fff;
}

.impact-header {
  text-align: left;
}

.impact-header h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.impact-header p {
  font-size: 18px;
  line-height: 1.5;
}

.impact-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.impact-card {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  width: 30%;
  text-align: center;
}

.impact-card h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.team {
  padding: 80px 0;
}

.team-members {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team-member {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  width: 23%;
  text-align: center;
  height: 300px;
}

.team-member img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.team-member h3 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.team-member h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.team-member p {
  font-size: 14px;
  line-height: 1.5;
}

.core {
  display: block;
  font-size: 3.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

.p8 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.footer logo {
  font-size: 36px;
  color: #fff;
}

.footer {
  display: flex;
  width: 1440px;
  height: 261px;
  padding: 80px 130px 80px 130px;
  background-color: #B5838D;
  justify-content: space-between;
}


.footer a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
}

.copyright {
  display: flex;
}

/* .container2 {
  display: flex;
  flex-direction: column;
  Width: 1440px;
  Height: 261px;
  padding: 80px 130px 80px 130px;
  background-color: #B5838D;
  justify-content: space-between;
} */





@media (max-width: 480px) {
  .hero h1 {
    font-size: 36px;
  }

  .hero p {
    font-size: 16px;
  }

  .impact-header h2,
  .impact-card h3 {
    font-size: 24px;
  }

  .btn,
  .discover {
    font-size: 16px;
  }
}
.Commcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.content {
  flex: 1;
  min-width: 300px;
  margin-left: 9rem;
}

.hero-image {
  flex: 1;
  min-width: 300px;
}

.principles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.principle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0px;
  background: #fffcfa;
}

.principle img {
  margin-bottom: 10px;
}

.principle h3 {
  margin: 10px 0;
}

@media (max-width: 768px) {
  .principles-container {
    grid-template-columns: 1fr;
  }

  .principle {
    margin: 10px 0;
  }
}

.title1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin-right: -15rem;
}

.title1::after {
  content: "";
  height: 2px;
  background-color: purple;
  display: block;
}

.title2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-self: flex-start;
  /* margin-left: 3rem; */
}

.title2::after {
  content: "";
  height: 2px;
  background-color: purple;
  display: block;
}

/* impact section */

.impact-section {
  background-color: #ffede6;
  padding: 20px;
  margin-bottom: 0px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  padding: 80px 130px;
  /* padding: 80px 5%; */
}

.impact-header h2 {
  color: #333;
  font-size: 35px;
  margin-bottom: 10px;
  /* margin-left: 3rem; */
}

.impact-header p {
  color: #666;
  font-size: 16px;
  margin-bottom: 20px;
  /* margin-left: 3rem; */
}

.impact-content {
  display: flex;
  align-items: flex-start;
}

.impact-section img {
  display: inline;
  width: 250px;
  height: 250px;
  border-radius: 75px;
  /* margin-top: -13rem; */
  margin-right: 30px;
}

.impact-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.detail-item {
  background-color: #ffe4d0;
  padding: 24px;
  margin-bottom: 10px;
  border-radius: 21px;
  flex: 1;
  margin-right: 10px;
  width: 200px;
  align-content: flex-start;
  border-width: 4px;
  border-style: solid;
  border-color: #FFCDB2;
  background-color: rgba(0, 0, 0, 0);
}

.detail-item p {
  margin: 0;
  color: #333;
  font-size: 20px;
}

@media (max-width: 600px) {
  .impact-content {
    flex-direction: row;
    align-items: center;
  }

  .impact-content img {
    margin-bottom: 20px;
  }
}

/* impact section */

@media (max-width: 480px) {
  body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 39px;
    padding: 0;
    margin: 0 auto;
    background-color: #fffcfa;
  }

  .container {
    padding: 10px;
    margin: 0 auto;
    padding: 24px 16px 24px 16px;
    margin-bottom: 0rem;
  }

  .header {
    flex-direction: column;
    text-align: center;
    margin-bottom: -6rem;
  }

  .logoDiv {
    align-self: flex-start;
  }

  .navbar {
    display: none;
  }

  .toggleNavbar {
    display: block;
  }

  .burgerMenuContainer {
    display: none;
  }

  .navLists .navLinks1,
  .navLists .navLinks2 {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero h1 {
    font-size: 28px;
    padding-left: 0;
  }

  .hero p {
    font-size: 16px;
    padding-left: 0;
  }

  .Touchbtn {
    background-color: #784186;
    display: flex;
    margin-left: 0px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    border: none;
    padding: 8px 16px 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }

  .discover {
    background-color: #f8e2e1;
    display: flex;
    margin-left: 0px;
    margin-top: 20px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    border: none;
    padding: 8px 16px 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}


  .hero-image img, .hero-image1 img {
    width: 328px;
    margin-left: 0;
    height: 248px;
  }

  /* impact section */
  .impact-section {
    flex-direction: column;
    align-items: center;
  }

  .impact-section img {
    margin: 0;
    margin-bottom: 10px;
  }

  .title2 {
    font-size: 10px;
  }
  .impact-header h2 {
    font-size: 22px;
  }

  .impact-section {
    padding: 16px 24px;
  }

  .impact-content {
    flex-direction: column;
    align-items: center;
  }

  .impact-details {
    flex-direction: column;
    align-items: center;
  }
  

  .detail-item {
    width: auto;
    border-radius: 12px;
    border-width: 4px;
    border-style: solid;
    border-color: #FFCDB2;
    background-color: rgba(0, 0, 0, 0);
  }

  .detail-item p{
    font-size: 14px;
  }



  footer p {
    font-size: 12px;
  }

  .burgerMenuContainer {
    display: block;
  }

  .burgerMenu {
    display: block;
  }

  .burgerMenuContainer {
    /* display: block; */
    align-self: flex-end;
    margin-top: -2rem;
  }

  .burgerMenu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .burgerMenu.active {
    display: flex;
  }

  .burgerMenu li {
    margin-bottom: 10px;
  }

  .burgerMenu a,
  .burgerMenu button {
    text-decoration: none;
    color: #333;
    margin-right: 0;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .burgerMenu a:hover,
  .burgerMenu button:hover {
    box-shadow: 0 -5px 0px rgb(181, 37, 181) inset,
      500px 0 0 rgba(246, 212, 238, 0.679) inset;
  }

  .toggleNavbar {
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    display: none;
  }

  .burgerBar {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
  }

  .toggleNavbar {
    display: block;
    margin-left: 6rem;
  }

  .container p8{
    font-size: 14px;
  }

  .team-member p2 {
    font-size: 12px;
  }
  
  .team-member h4 {
    font-size: 14px;
  }

  .principles {
    margin-left: -124px;
  }
  
  

  .Commcontainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 16px 24px 0px;
  }

  .principle img {
    margin-bottom: 10px;
    align-self: flex-start;
  }

  .principle h3 {
    margin: 10px 0;
    align-self: flex-start;
  }

  .principle p{
    align-self: flex-start;
    text-align: left;
  }

  .content h1 {
    font-size: 2rem;
  }

  .container h1 {
    font-size: 36px;
    text-align: start;
  }

  .container p {
    font-size: 18px;
    text-align: start;
  }

  .team {
    display: flex;
    align-self: flex-start;
    padding: 24px 16px 24px 16px;
  }

  .team-members {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .team-member {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    height: 200px;
  }

  .team-member h3 {
    font-size: 16px;
  }

  .core {
    display: flex;
    font-size: 20px;
  }


  /* contact css */

  .contact h1 {
    display: flex;
    text-align: start;
    color: #333;
    font-size: 20px;
  }
  
  .contact p {
    line-height: 19.6px;
    color: #555;
    font-size: 14px;
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: normal;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 328px;
    height: 44px;
    padding: 12px 16px 12px 16px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-color: #B5838D;
    border-radius: 4px;
    box-sizing: border-box;
  }

  
  
  button[type="submit"] {
    background-color: #784186;
    color: #fff;
    padding: 8px 16px 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 84px;
    height: 38px;
    line-height: 22.4px;
  }
  
  button[type="submit"]:hover {
    background-color: #4cae4c;
  }
  
  .image-container {
    display: flex;
    width: 328px;
    height: 123px;
    margin-top: 20px;
    
  }
  
  .image-container image {
    display: flex;
    width: 164px;
    border-radius: 0px 60px 0px 60px;
    height: 123px;
  }
  
  .dignity {
    display: flex;
    width: 164px;
    height: 123px;
    border-radius: 60px 0px 60px 0px;
  }
  .dignity img {
    display: flex;
    align-items: flex-end;
  }
  
  .dignity span {
    font-size: 16px;
    font-weight: normal;
    display: block;
  }

  /* footer */

  .footer logo {
    font-size: 36px;
    color: #fff;
  }
  
  .footer {
    display: flex;
    width: 328px;
    height: 91px;
    background-color: #B5838D;
  }

  
  .footer a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
  }

  /* .copyright {
    display: flex;
    align-self: center;
  } */

  /* .container2 {
    Width:360px;
    Height: 171px;
    Padding:40px, 16px, 40px, 16px;
    background-color: #B5838D;
  } */


}
